.uma-project-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .uma-project-page {
        margin : 12px;
        flex-grow: 1;

        .uma-project-header {
            font-weight: bold;
            font-size: 16px;
        }

        .uma-project-form {
            margin: 12px 0 12px 0;

            .card-type {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: 12px;

                .stat-card {
                    margin: 0 4px 0 4px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}