.account-page {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .header {
        display: flex;
        .go-back {
            margin-left: 12px;
            display: inline-block;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .account-content {
        min-height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;

        .update-message {
            font-weight: bold;
            margin-bottom: 12px;
            padding: 4px;
            background: white;
            border: 1px solid black;
        }

        .account-settings {
            max-width: 1320px;
            border: 1px solid black;
            background: white;

            .account-settings-header {
                margin-top: 6px;
                font-weight: bold;
            }

            .account-settings-form {
                margin: 20px;

                .results-number, .default-genre {
                    margin: 12px 0 12px 0;
                    display: flex;
                }

                .input-text {
                    margin-left: 12px;
                }

                .submit-button {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}