.account-page {
    height: 100%;
    min-height: 500px;
    position: relative;

    .header {
        display: flex;
        .go-back {
            margin-left: 12px;
            display: inline-block;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .account-content {
        min-height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;

        .account-settings {
            max-width: 1320px;
            border: 1px solid black;
            background: white;

            .account-settings-form {
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 20px;
                margin-right: 20px;

                .results-number, .default-genre {
                    margin-top: 12px;
                    margin-bottom: 12px;
                    display: flex;
                }

                .input-text {
                    margin-left: 12px;
                }

                .submit-button {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}