.account-page {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .account-page-header {
        display: flex;
        margin-top: 40px;

        .go-back {
            margin-left: 12px;
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .account-content {
        min-height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;

        .update-message {
            font-weight: bold;
            margin-bottom: 12px;
            padding: 4px;
            background: white;
            border: 1px solid black;
        }

        .account-settings {
            display: flex;
            flex-direction: column;
            max-width: 1320px;
            border: 1px solid black;
            background: white;
            flex: 1;
            width: 100%;
            margin: 12px 0 12px 0;

            .account-settings-header {
                margin-top: 6px;
                font-weight: bold;
            }

            .account-settings-subheader {
                margin: 6px 0 6px 0;

                &:after {
                    content: "";
                    display: block;
                    width: 95%;
                    margin: 1em auto 0;
                    border-bottom: 1px solid black;
                }
            }

            .account-settings-form {
                margin: 20px;

                .results-number, .default-genre {
                    margin: 12px 0 12px 0;
                    display: flex;
                }

                .input-text {
                    margin-left: 12px;
                }

                .divider {
                    margin-bottom: 12px;
                        &:after {
                        content: "";
                        display: block;
                        width: 95%;
                        margin: 1em auto 0;
                        border-bottom: 1px solid black;
                    }
                }

                .submit-button {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}