html {
    background: #F5EDED;
}

.App {
    height: 100%;
    margin-top: 20px;
    text-align: center;
    color: red;
    background: #F5EDED;

    .site-header {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }   
}

.search-header {
    margin-top: 50px;
    margin-bottom: 10px;
    color: blue;
    font-weight: bold;
    font-size: 16px;
}

.searchbar {
    margin-right: 10px;
}

.header {
    margin-top: 50px;
}

.netflix-results {
    margin-top: 20px;
}

.netflixShow {
    color: black;
    margin-bottom: 5px;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;

    .show-image-container {
        flex: 1;
    }

    .show-details {
        flex: 1;
        text-align: left;

        .show-name {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .show-description, .show-genre, .show-rating, .show-link {
            margin-bottom: 5px;
        }

    }
    .show-image {
        float: right;
        margin-right: 30px;
    }
}

.netflix-form {
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;

    .ai-search-section {
        display: flex;

        .search-header {
            flex: 3;
            text-align: right;
            margin-right: 16px;
        }

        .button-container {
            flex: 2;
            display: flex;
            align-items: flex-end;
            margin-bottom: 8px;
        }
    }
}

.dropdown-menu {
    .dropdown-label {
        font-weight: bold; 
    }
}

.lds-dual-ring {
  /* change color here */
  color: #1c4c5b
}
.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}