html, body {
    background: #F5EDED;
    margin: 0;
    padding: 0;
}

.App {
    position: relative;
    height: 100%;
    margin-top: 20px;
    text-align: center;
    color: #C22727;
    background: #F5EDED;

    .header-section {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        background-color: #C22727;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        .site-header-logo {
            margin-right: 0;
            display: inline-flex;
            width: 150px;
            font-size: 12px;
            position: relative;

            .site-header-logo-text {
                word-wrap: break-word;
                align-content: center;
            }
            .site-header-logo-text:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .site-header-logo, .site-header-text {
            font-weight: bold;
            color: #F0F8FF;
        }

        .site-header-text {
            font-size: 24px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 6px;
            margin-bottom: 6px;
        }

        .header-dropdown {
            color: black;
            position: absolute;
            top: 52px;
            left: 20px;
            background: #C22727;
            border-left: 2px solid black;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }
    }

    .site-body {
        margin-top: 60px;
        padding-bottom: 12px;
    }
}

.search-header {
    margin-top: 24px;
    margin-bottom: 10px;
    color: blue;
    font-weight: bold;
    font-size: 16px;
    .searchby {
       display: inline-block;
    }
    .in-progress {
       display: inline-block;
       font-style: italic;
       margin-left: 6px;
    }
}

.searchbar {
    margin-right: 10px;
}

.announcement {
    margin-top: 40px;
}

.netflix-results {
    margin-top: 20px;
}

.netflixShow {
    color: black;
    margin-bottom: 5px;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;

    .show-image-container {
        flex: 1;
    }

    .show-details {
        flex: 1;
        text-align: left;

        .show-name {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .show-description, .show-genre, .show-rating, .show-link {
            margin-bottom: 5px;
        }

    }
    .show-image {
        float: right;
        margin-right: 30px;
    }
}

.netflix-form {
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;

    .ai-search-section {
        display: flex;

        .search-header {
            flex: 3;
            text-align: right;
            margin-right: 16px;
        }

        .button-container {
            flex: 2;
            display: flex;
            align-items: flex-end;
            margin-bottom: 8px;
        }
    }
}

.dropdown-menu {
    .dropdown-label {
        font-weight: bold; 
    }
}

.lds-dual-ring {
  color: #1c4c5b
}
.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    height: 32px;
    border: 2px solid black;
    background-color: #C22727;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    .footer-text {
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 16px;
        font-weight: bold;
        color: #F0F8FF;
    }   
}