html, body {
    background: #F5EDED;
    margin: 0;
    padding: 0;
}

body.modal-open {
    overflow: hidden;
}


.App {
    font-family: "Ubuntu", sans-serif;
    position: relative;
    height: 100%;
    margin-top: 20px;
    text-align: center;
    color: #C22727;
    background: #F5EDED;

    .site-body {
        margin-top: 60px;
        padding-bottom: 12px;

        .announcement {
            font-size: 20px;
            margin-top: 40px;

            &.mobile {
                margin-top: 72px; 
            }
        }

        .stockdata-note {
            margin-bottom: 4px;
            font-size: 14px;
            color: black;
            font-weight: bold;
            font-style: italic;
        }

        .netflix-shows-container {

            &:before {
                content: "";
                display: block;
                width: 70%;
                margin: 1em auto 0;
                border-top: 1px solid black;
            }

            &:after {
                content: "";
                display: block;
                width: 70%;
                margin: 1em auto 0;
                border-bottom: 1px solid black;
            }
            
            .netflixShow {
                color: black;
                margin-bottom: 5px;
                display: flex;
                margin-left: 20%;
                margin-right: 20%;
                margin-top: 4px;
                margin-bottom: 4px;

                .show-image-container {
                    flex: 1;
                }

                .show-details {
                    flex: 1;
                    text-align: left;

                    .show-name {
                        font-weight: bold;
                        font-size: 20px;
                        margin-bottom: 10px;
                    }

                    .show-description, .show-genre, .show-rating, .show-link {
                        margin-bottom: 5px;
                    }

                }
                .show-image {
                    float: right;
                    margin-right: 30px;
                    max-height: 250px;
                    max-width: 250px;
                    height: auto;
                    width: auto;
                }
            }
        }

        .netflix-form {
            align-items: center;
            margin-left: 20%;
            margin-right: 20%;

            .ai-search-section {
                display: flex;

                .search-header {
                    flex: 3;
                    text-align: right;
                    margin-right: 16px;
                }

                .button-container {
                    flex: 2;
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 8px;
                }
            }

            .searchbar {
                margin-right: 10px;
            }
        }
    }
}

.search-header {
    margin-top: 24px;
    margin-bottom: 10px;
    color: blue;
    font-weight: bold;
    font-size: 16px;

    .searchby {
       display: inline-block;
    }
    
    .in-progress {
       display: inline-block;
       font-style: italic;
       margin-left: 6px;
    }
}

.lds-dual-ring {
  color: #1c4c5b
}
.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}