.search-header {
    margin-top: 24px;
    margin-bottom: 10px;
    color: blue;
    font-weight: bold;
    font-size: 16px;
    flex: 3;
    margin-right: 16px;

    .searchby {
        display: inline-block;
    }
    
    .in-progress {
        display: inline-block;
        font-style: italic;
        margin-left: 6px;
    }
}

.main-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .site-body {
        margin-top: 60px;
        padding-bottom: 12px;
        flex: 1;

        .announcement {
            font-size: 20px;

            &.mobile {
                margin-top: 72px; 
            }
        }

        .stockdata-note {
            margin-bottom: 4px;
            font-size: 14px;
            color: black;
            font-weight: bold;
            font-style: italic;
        }

        .netflix-shows-container {
            display: flex;
            align-items: center;
            flex-flow: column wrap;
            max-width: 1366px;
            margin: 0 auto;

            &:before {
                content: "";
                display: block;
                width: 70%;
                margin: 1em auto 0;
                border-top: 1px solid black;
            }

            &:after {
                content: "";
                display: block;
                width: 70%;
                margin: 1em auto 0;
                border-bottom: 1px solid black;
            }

            .netflix-shows-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        .netflix-form {
            align-items: center;
            margin-left: 20%;
            margin-right: 20%;

            .ai-search-section {
                display: flex;

                .search-header {
                    text-align: right;
                }

                .button-container {
                    flex: 2;
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 8px;
                }
            }

            .searchbar {
                margin-right: 10px;
            }
        }
    }
}