.footer {
    display: flex;
    align-items: flex-end;
    height: 32px;
    border: 2px solid black;
    background-color: #C22727;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    .footer-text {
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 16px;
        font-weight: bold;
        color: #F0F8FF;
    }   
}