.chatbot-container {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 1000;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;

    .chatbot-open {
        background: lightblue;
        min-height: 400px;
        min-width: 300px;
        display: flex;
        flex-direction: column;

        .chatbot-header {
            display: flex;
            flex-direction: row;
            align-items: center;

            .chatbot-header-msg {
                flex-grow: 1;
                font-weight: bold;
            }

            .close-button {
                margin: 4px 4px 0 0;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .chatbot-messages {
            color: black;
            flex-grow: 1;
            margin: 5px;
            overflow-y: auto;
            background: white;
            border: 1px black solid;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            gap: 6px;
            max-height: 300px; 

            .chatbot-response, .chatbot-thinking, .chatbot-inquiry {
                border: 1px black solid;
                margin: 4px;
                padding: 0 4px 4px;
                border-radius: 4px;
                min-width: 40px;
                max-width: 200px;
            }

            .chatbot-response, .chatbot-thinking {
                background: lightgray;
                margin-right: auto;
            }
            .chatbot-inquiry {
                background: white;
                margin-left: auto;
            }

            .chatbot-thinking {
                .thinking-animation {
                    display: inline-flex;

                    .dot {
                        font-size: 24px;
                        animation: dotPulse 1.8s ease-in-out infinite;
                        
                        &:nth-child(1) {
                            animation-delay: .2s;
                        }
                        &:nth-child(2) {
                            animation-delay: .3s;
                        }
                        &:nth-child(3) {
                            animation-delay: .4s;
                        }
                    }
                }

            }
        }

        .chatbot-textbox {
            display: flex;
            margin: 5px 5px 12px 5px;

            .chatbot-form {
                display: flex;
                width: 100%;
                align-items: flex-end;

                .chatbot-send-msg {
                    box-sizing: border-box;
                    width: 100%;
                    flex: 1;
                    margin-right: 8px;
                    border: 1px solid gray;
                    border-radius: 8px;
                    padding: 8px;
                }

                .chatbot-submit {
                    align-self: flex-end;
                    margin-top: 5px;
                    float: right;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .chatbot-minimized {
        margin: 4px;
        width: 125px;
        border-radius: 8px;
        display:flex;
        flex-direction: row;

        .chatbot-icon {
            color: black;
            align-self: center;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@keyframes dotPulse {
    0%, 44% {
        transform: translateY(0);
    }
    28% {
        opacity: 0.4;
        transform: translateY(-2px);
    }

    44% {
        opacity: 0.2;
        transform: translateY(2px);
    }
}