.header-section {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        background-color: #C22727;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        .header-dropdown {
                color: black;
                position: absolute;
                background: #C22727;
                border-left: 2px solid black;
                border-right: 2px solid black;
                border-bottom: 2px solid black;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
        }

        .site-header-logo {
            margin-right: 0;
            display: inline-flex;
            width: 150px;
            font-size: 12px;
            position: relative;

            .site-header-logo-text {
                word-wrap: break-word;
                align-content: center;
                margin-right: 4px;
            }
            .site-header-logo-text:hover {
                cursor: pointer;
                text-decoration: underline;
            }

            .header-dropdown {
                top: 100%;
                left: 20px;
            }
        }

        .welcome-parent {
            position: relative;

            .account-page-link {
                margin-left: 5px;
                margin-right: 5px;
                margin-bottom: 5px;
            }

            .welcome-text, .account-page-link {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .header-dropdown {
                top: 34px;
                right: 5px;
            }
        }

        .divider {
            border-left: 2px solid white;
            height: 30px;
            display: inline-flex;
            align-self: center;
            vertical-align: middle;
            opacity: .5;
        }

        .site-header-logo, .site-header-text, .sign-in-button, .slidein-button, .welcome-parent {
            font-weight: bold;
            color: #F0F8FF;
        }

        .site-header-text {
            font-size: 28px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 6px;
            margin-bottom: 6px;

            &.mobile {
                font-size: 16px;
            }
        }

        .welcome-parent, .sign-in-button, .slidein-button {
            margin-left: 0;
            padding-left: 10px;
            padding-right: 10px;
        }

        .sign-in-button, .slidein-button {
            &:hover {
                cursor: pointer; 
            }
        }
    }