.header-section {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        background-color: #C22727;
        border-radius: 0 0 12px 12px;

        .header-dropdown {
                color: black;
                position: absolute;
                background: #C22727;
                border-left: 2px solid black;
                border-right: 2px solid black;
                border-bottom: 2px solid black;
                border-radius: 0 0 12px 12px;
        }

        .site-header-logo {
            margin-right: 0;
            display: inline-flex;
            width: 150px;
            font-size: 12px;
            position: relative;

            .site-header-logo-text {
                word-wrap: break-word;
                align-content: center;
                margin-right: 4px;
            }
            .site-header-logo-text:hover {
                cursor: pointer;
                text-decoration: underline;
            }

            .header-dropdown {
                top: 100%;
                left: 20px;
            }
        }

        .welcome-parent {
            position: relative;

            .account-page-link {
                margin: 0 5px 5px 5px;

                &:after {
                    content: "";
                    display: block;
                    width: 90%;
                    margin: 6px auto 0;
                    border-bottom: 1px solid black;
                }
            }

            .welcome-text, .account-page-link, .signout-link {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .signout-link {
                margin-bottom: 4px;
            }

            .header-dropdown {
                top: 34px;
                right: 5px;
            }
        }

        .divider {
            border-left: 2px solid white;
            height: 30px;
            display: inline-flex;
            align-self: center;
            vertical-align: middle;
            opacity: .5;
        }

        .site-header-logo, .site-header-text, .sign-in-button, .slidein-button, .welcome-parent {
            font-weight: bold;
            color: #F0F8FF;
        }

        .site-header-text {
            font-size: 28px;
            margin: 6px auto 6px auto;

            &.mobile {
                font-size: 16px;
            }
        }

        .welcome-parent, .sign-in-button, .slidein-button {
            margin-left: 0;
            padding: 0 10px 0 10px;
        }

        .sign-in-button, .slidein-button {
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }