.App {
    height: 100%;
    margin-top: 20px;
    text-align: center;
    color: red;
    background: #ffcccc;
}

.search-header {
    margin-top: 50px;
    margin-bottom: 10px;
    color: blue;
}

.searchbar {
    margin-right: 10px;
}

.header {
    margin-top: 50px;
}

.netflix-results {
    margin-top: 20px;
}

.netflixShow {
    margin-bottom: 5px;
}